name: Deploy Tests

on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  load-versions:
    runs-on: ubuntu-latest
    outputs:
      python-versions: ${{ steps.load.outputs.python_versions }}
      os-versions: ${{ steps.load.outputs.os_versions }}
    steps:
      - uses: actions/checkout@v4
      - id: load
        run: |
          echo "python_versions=$(cat ./.github/workflows/all_python_versions.txt)" >> "$GITHUB_OUTPUT"
          echo "os_versions=$(cat ./.github/workflows/all_os_versions.txt)" >> "$GITHUB_OUTPUT"

  assess-file-changes:
    uses: ./.github/workflows/assess-file-changes.yml

  detect-changelog-updates:
    needs: assess-file-changes
    if: ${{ needs.assess-file-changes.outputs.SOURCE_CHANGED == 'true' && github.event.pull_request.draft == false && github.event_name == 'pull_request' }}
    name: Changelog updated
    runs-on: ubuntu-latest
    steps:
      - if: ${{ needs.assess-file-changes.outputs.CHANGELOG_UPDATED == 'true' }}
        run: echo "CHANGELOG.md has been updated."
      - if: ${{ needs.assess-file-changes.outputs.CHANGELOG_UPDATED == 'false' }}
        run: |
          echo "CHANGELOG.md has not been updated."
          exit 1

  run-tests:
    needs: [assess-file-changes, load-versions]
    if: ${{ needs.assess-file-changes.outputs.SOURCE_CHANGED == 'true' }}
    uses: ./.github/workflows/testing.yml
    with:
      python-versions: ${{ needs.load-versions.outputs.python-versions }}
      os-versions: ${{ needs.load-versions.outputs.os-versions }}

  all-tests-passed:
    name: All tests passing
    if: always()
    needs:
      - run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether all jobs succeeded or at least one failed
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: run-tests
          jobs: ${{ toJSON(needs) }}
